@import './_variables.scss';
@import './_reset.scss';


* {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border-radius: 3px;
}

body, html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overscroll-behavior: none;
  background-image: url("../whatscookin.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
  background-color: $primary-color;
} 

h1 {
  height: fit-content;
  margin: 0 0 0 1rem;
  border-style: solid;
  border-color: $border-color;
  border-width: 5px;
  background-color: $text-bg-color;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 34px;
  border-color: $primary-color;
  background-color: $gradient;
  width: 7em;
}

.category-form-view {
  width: 50em;
}

input[type=radio],
input.radio {
  clear: none;
  margin: 0 3% 0 0;
  height: 2vh;
  width: 2vw;
}

input {
  height: 3vh;
  width: 20vw;
  border-radius: 3px;
  font-family: $button-font;
}

label {
  font-family: $button-font;

}

.home-btn, 
.recipes-to-cook,
.favorited-recipes-btn,
.see-all-recipes,
.see-user-pantry-button,
.add-recipe-to-cook-button,
.remove-recipe-to-cook-button,
.unfavorite-button,
.favorite-button,
.dropbtn {
  width: 140px;
  height: 45px;
 @include button-options()
}


.favorite-button:hover,
.unfavorite-button:hover,
.add-recipe-to-cook-button:hover,
.remove-recipe-to-cook-button:hover,
.favorite-button:focus,
.unfavorite-button:focus,
.add-recipe-to-cook-button:focus,
.remove-recipe-to-cook-button:focus {
  background-color: #FADADD;
}

.suggested-recipe-view {
  display: flex;
  width: 50vw;
  height: 60vh;
  align-items: center;
  margin: 10%;
  background: $gradient;
}

img {
  border-style:solid;
  border-color: $border-color;
  border-width: 15px;
  width: 25em;
}

.suggested-recipe-image {
  height: 40vh;
}

.add-recipe-to-cook-button,
.remove-recipe-to-cook-button,
.unfavorite-button,
.favorite-button {
  align-self: flex-end;
  height: 12vh;
  width: 10vw;
}

.dropbtn:hover, 
.dropbtn:focus,
.search-button:hover,
.search-button:focus,
.search-button2:hover,
.search-button2:focus,
.home-btn:hover,
.home-btn:focus, 
.recipes-to-cook:hover,
.recipes-to-cook:focus,
.favorited-recipes-btn:hover,
.favorited-recipes-btn:focus,
.see-all-recipes:hover,
.see-all-recipes:focus,
.see-user-pantry-button:hover,
.see-user-pantry-button:focus,
.try-this-recipe-btn:hover,
.try-this-recipe-btn:focus {
  background-color: #81B47E;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.try-this-recipe-btn {
  border-radius: 50%;
  height: 13em;
  width: 15em;
  position: relative;
  bottom: 3vh;
  right: 2vw;
  align-self: flex-start;
  background-color: $text-bg-color;
  font-family: $button-font;
}

h2,
h3 {
  margin: 0;
  background-color: $text-bg-color;
  width: 30em;
}

.all-recipes-view,
.favorite-recipes-view,
.recipe-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipes-views,
.result-card,
.fav-recipe-card {
  margin: 1em 0 0 1em;
}

.recipe-information-view {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.current-recipe-image {
  height: 40vh;
  width: fit-content;
}

h3 {
  margin: 0;
  width: fit-content;
  border-color: $border-color
}

ol,
ul {
  width: 47em;
  background-color: $text-bg-color;
  border-color: $border-color
}

.total-cost {
  align-self: flex-end;
}

.box-content {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}

.search-button,
.search-button2 {
  width: 70px;
  height: 30px;
  @include button-options()
}

/* dropDown CSS Begins  */

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* dropDown CSS Ends  */

.hidden {
  display: none;
}

