/* @import './node_modules/normalize.css/normalize.css'; */

* {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 16px;
  border-radius: 5px;
}

$primary-color: #396204; 
$border-color: #4B9933;

body, html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overscroll-behavior: none;
  background-image: url("whatscookin.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
  background-color: $primary-color;
} 

h1 {
  height: fit-content;
  margin: 0 0 0 1rem;
  border-style:solid;
  border-color: $border-color;
  background-color:#e8f1f2;
}

.category-form-view {
  width: 50em;
}

input[type=radio],
input.radio {
  clear: none;
  margin: 0 3% 0 0;
  height: 2vh;
  width: 2vw;
}

input {
  height: 3vh;
  width: 10vw;
  border-radius: 3px;
}

.home-btn, 
.recipes-to-cook,
.favorited-recipes-btn,
.see-all-recipes,
.see-user-pantry-button {
  height: 10vh;
  width: 10vw;
  margin: 0 1rem 0 0;
}

.add-recipe-to-cook-button,
.remove-recipe-to-cook-button,
.unfavorite-button,
.favorite-button {
  align-self: flex-end;
  height: 12vh;
  width: 10vw;
}

.favorite-button:hover,
.unfavorite-button:hover,
.add-recipe-to-cook-button:hover,
.remove-recipe-to-cook-button:hover {
  background-color: #FADADD;
}

.suggested-recipe-view {
  display: flex;
  width: 50vw;
  height: 60vh;
  align-items: center;
  margin: 10%;
  background: #52A838;
}

img {
  border-style:solid;
  border-color: $border-color;

}

.suggested-recipe-image {
  height: 40vh;
}

.try-this-recipe-btn {
  border-radius: 50%;
  height: 13em;
  width: 15em;
  position: relative;
  bottom: 3vh;
  right: 2vw;
  align-self: flex-start;
  background-color: #e8f1f2;
}

h2,
h3 {
  margin: 0;
  background-color: #e8f1f2;
  width: 30em;
  
}

.all-recipes-view,
.favorite-recipes-view,
.recipe-results {
  display: flex;
  flex-wrap: wrap;
}

.recipes-views,
.result-card,
.fav-recipe-card {
  margin: 1em 0 0 1em;
}

.recipe-information-view {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.current-recipe-image {
  height: 40vh;
  width: fit-content;
}

h3 {
  margin: 0;
  width: fit-content;
  border-color: $border-color
}

ol,
ul {
  width: 47em;
  background-color: #e8f1f2;
  border-color: $border-color
}

.total-cost {
  align-self: flex-end;
}

.box-content {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}

.search-button,
.search-button2 {
  background-color: #e8f1f2;
}

/* dropdown CSS  */
.dropbtn {
  background-color: #e8f1f2;
  padding: .5em;
  font-size: 20px;
  border: none;
  cursor: pointer;
  /* border-radius: 8px; */
}

.dropbtn:hover, 
.dropbtn:focus,
.search-button:hover,
.search-button2:hover,
.home-btn:hover, 
.recipes-to-cook:hover,
.favorited-recipes-btn:hover,
.see-all-recipes:hover,
.see-user-pantry-button:hover,
.try-this-recipe-btn:hover  {
  background-color: #5AB83D;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* dropDown CSS Ends  */

.hidden {
  display: none;
}

