@import './node_modules/normalize.css/normalize.css';

body {
  background-color: blueviolet;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-view {
  display: block;
  height: 50%;
  width: 50%;
  padding: 20%;
  position: relative;
  right: 15%;
  /* background-image: */
}

.suggested-recipe {
  width: 50%;
  height: 40%;
}

.try-this-recipe {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.hidden {
  display: none;
}

