/* @import './node_modules/normalize.css/normalize.css'; */

* {
  font-family: 'Open sans', sans-serif;
}

body, html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overscroll-behavior: none;
}

header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
  background-color: goldenrod;
} 

h1 {
  height: fit-content;
  margin: 0 0 0 1rem;
}

.category-form-view {
  width: 50em;
}

input[type=radio],
input.radio {
  clear: none;
  margin: 0 3% 0 0;
  height: 2vh;
  width: 2vw;
}

input {
  height: 3vh;
  width: 10vw;
  border-radius: 3px;
}

.home-btn, 
.favorited-recipes-btn,
.see-all-recipes {
  height: 5vh;
  width: 10vw;
  border-radius: 3px;
  margin: 0 1rem 0 0;
}

.favorite-button {
  align-self: flex-end;
  height: 5vh;
  width: 10vw;
  border-radius: 3px;
}

.suggested-recipe-view {
  display: flex;
  width: 50vw;
  height: 60vh;
  align-items: center;
  margin: 10%;
  background: #3498DB;
}

.suggested-recipe-image {
  height: 40vh;
}

.try-this-recipe-btn {
  border-radius: 50%;
  height: 13em;
  width: 15em;
  position: relative;
  bottom: 3vh;
  right: 2vw;
  align-self: flex-start;
  background-color: mediumaquamarine;
}

h2 {
  margin: 0;
}

.all-recipes-view,
.favorite-recipes-view,
.recipe-results {
  display: flex;
  flex-wrap: wrap;
}

.recipes-views,
.result-card,
.fav-recipe-card {
  margin: 1em 0 0 1em;
}

.recipe-information-view {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.current-recipe-image {
  height: 40vh;
  width: fit-content;
}

h3 {
  margin: 0;
  width: fit-content;
}

ol {
  width: 47em;
}

.total-cost {
  align-self: flex-end;
}

.box-content {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}

/* dropdown CSS  */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: .5em;
  font-size: 1.35em;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 12em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* dropDown CSS Ends  */

.hidden {
  display: none;
}

